@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinning {
	display: inline-block;
	animation: 1s linear infinite spin;
}

.wrapperForm {
	display: inline-block;
}
